html,
body {
  height: 90%;
  width: 100%;
  font-size: 0.95vw;
}

.top-main {
  float: left;
  width: 100%;
  margin-top: 5vh;
}

.bottom-main {
  float: left;
  width: 100%;
  height: 100%;
  margin-top: 2.5vh;
}

/* CONTACT*/

.header {
  width: 100%;
  height: auto;
}

.logo-container {
  float: left;
  margin: -1vh 0 0 -1vw;
}

.logo {
  width: 20vw;
  height: auto;
}

.contact-container {
  float: right;
}

.contact-list {
  max-width: 25vw !important;
}

.contact-image {
  padding-right: 1vw;
  width: 2vw;
}

.contact-list > .list-group-item {
  font-size: 0.8vw;
  padding: 0.75em !important;
  border-radius: 0 !important;
}

/* NAV BAR TABS*/

.nav-item,
.nav-item a {
  font-weight: 600 !important;
  color: #00294b;
  border-radius: 0 !important;
}

.tab-left {
  float: left;
  position: relative;
  width: 10%;
  height: 90%;
  margin-top: 2em;
  border-right: 1px dashed lightslategrey;
}

.tab-right {
  position: relative;
  top: 0;
  left: 0;
  width: 90%;
  height: 100%;
}

.fade,
.tab-pane,
.tab-content {
  height: 100% !important;
}

.tab-title {
  font-size: 2.25vw;
  text-align: center;
  text-transform: uppercase;
  font-family: "Courier New", Courier, monospace !important;
}

.tab-title-letter {
  line-height: 1 !important;
}

.tab-content {
  height: 100% !important;
  background: #fcfcfc;
  border-left: #dee2e6 1px solid;
  border-right: #dee2e6 1px solid;
  border-bottom: #dee2e6 1px solid;
}

/* BIO */

.tab-left-biography {
  float: left;
  width: 10%;
  height: 90%;
  margin-top: 2em;
  border-right: 0.15em dashed #dee2e6;
}

.tab-right-biography {
  float: left;
  width: 90%;
  height: 100%;
  overflow-y: scroll;
}

.bio {
  height: 100%;
  width: 100%;
  margin: auto;
  padding: 1% 3.5% 0 3.5%;
}

#bio-top {
  float: left;
  width: 100%;
}

.bio-bottom {
  float: left;
  width: 100%;
}

.philo-container,
.edu-container {
  float: left;
  width: 82.5%;
}

.philo-container {
  padding: 1em 0 1em 2em;
}

.edu-container {
  padding-left: 2em;
}

.bio-photo-container {
  float: left;
  width: 15%;
  padding: 2em 0;
}

.bio-photo {
  float: left;
  width: 100%;
  filter: grayscale(40%);
  border-radius: 0.25em;
}

.philo-title,
.edu-title {
  float: left;
  font-weight: bold;
  margin-bottom: 0.75em !important;
}

.philo-text,
.edu-text {
  float: left;
  width: 97.5%;
  margin: 0;
  text-align: justify;
}

.edu-text {
  margin-top: 0.1em;
}

.background-text {
  float: left;
  width: 95%;
  margin-left: 2em;
  text-align: justify;
}

.bio-slide-container {
  float: left;
  width: 100px;
}

.edu-logo-container {
  float: left;
  width: 100%;
}

.edu-logo {
  float: left;
  width: 15vw;
}

.degree-table-container {
  float: left;
}

.degree-table {
  float: left;
  width: 8vw;
  border: 1px solid #dee2e6;
  background: #fff;
  text-align: center;
  margin: 0;
  margin-left: 0.5em;
}

.degree-title,
.degree-text {
  border: none !important;
  padding: 1px !important;
  vertical-align: middle;
  font-size: 0.8vw;
}

.degree-title {
  font-weight: 500;
}

.background-container {
  float: left;
}

.background-title {
  padding-top: 1em;
  font-weight: bold;
  border-top: 0.15em dashed #dee2e6;
}

.background-table-container {
  float: left;
  width: 95%;
}

.background-table {
  width: 100%;
  border: 1px solid #dee2e6;
  background: #fff;
  margin-left: 2em;
}

.background-table td {
  width: auto;
  border: none !important;
  padding: 0.5em 0;
}

.background-table td:nth-child(1) {
  width: 35%;
  font-size: 0.9vw;
  font-weight: 600;
  padding: 0.5em 0 0.5em 0.75em;
}

.background-table td:nth-child(2) {
  width: 25%;
}

.background-table td:nth-child(3) {
  width: 20%;
}

.background-table td:nth-child(4) {
  width: 20%;
}

/* SKILLS */

.tab-left-skills {
  float: left;
  width: 10%;
  height: 92.5%;
  margin-top: 2.5%;
  border-right: 0.15em dashed #dee2e6;
}

.tab-right-skills {
  float: left;
  width: 90%;
  height: 100%;
  margin-top: 1%;
}

.skills {
  float: left;
  position: relative;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  padding: 1.5em 0 0 3em;
}

.skills-legend {
  float: left;
  font-size: 13px;
  font-weight: 600;
}

.skills-level {
  float: left;
  font-size: 14px;
  font-weight: bold;
}

.separator {
  float: left;
  margin: 0 10px;
}

.red {
  color: red;
}

.blue {
  color: blueviolet;
}

.skills-left,
.skills-center,
.skills-right {
  position: relative;
  width: 33%;
}

.skills-left {
  float: left;
  top: 0;
  left: 0;
}

.skills-center {
  float: left;
  top: 0;
  left: 0;
}

.skills-right {
  float: right;
  top: 0;
  right: 0;
}

#language-container {
  position: relative;
  width: 90%;
}

#language-container > .skills-list-one {
  width: 52.5%;
}

#language-container > .skills-list-two {
  width: 47.5%;
}

#platform-container {
  position: relative;
  width: 92.5%;
}

#platform-container > .skills-list-one {
  width: 60%;
}

#platform-container > .skills-list-two {
  width: 40%;
}

#skills-container {
  position: relative;
  width: 85%;
}

#skills-container > .skills-list-one {
  width: 55%;
}

#skills-container > .skills-list-two {
  width: 45%;
}

.skills-title {
  width: 100%;
  font-size: 1.25vw;
  font-weight: 400;
  margin: 0;
}

.skills-list-one {
  position: absolute;
  top: 3.5em;
  left: 0;
  border: 1px solid #dee2e6;
  border-right: none !important;
  padding-left: 1em;
  background: #fff;
}

.skills-list-two {
  position: absolute;
  top: 3.5em;
  right: 0;
  width: 40%;
  border: 1px solid #dee2e6;
  border-left: none !important;
  padding-left: 1em;
  background: #fff;
}

.skills-image,
.skills-text {
  background: none !important;
  border: none !important;
}

.skills-list-item {
  padding: 1em 0 0 0 !important;
  margin-bottom: 1.25em !important;
  background: #fff !important;
  border: none !important;
  border-radius: 0 !important;
}

.skills-image {
  float: left;
}

.skills-image-img {
  float: left;
  height: 1.5em;
  width: auto;
  margin: auto;
}

.skills-text {
  position: absolute;
  bottom: 0;
  left: 2vw;
  margin: 0;
  font-size: 1vw;
  font-weight: 400;
}

/* RESUME */

.tab-left-resume {
  float: left;
  width: 10%;
  height: 92.5%;
  margin-top: 2.5%;
  border-right: 0.15em dashed #dee2e6;
}

.tab-right-resume {
  float: left;
  width: 90%;
  height: 100%;
  padding-top: 2.5%;
}

.resume-container {
  float: left;
  height: 96.5%;
  width: 100%;
  overflow-y: scroll;
}

canvas {
  margin: auto;
}

.annotationLayer {
  display: none !important;
}
